*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html,body,#root{
    height: 100%;
}

#root{
    padding:30px;
    background-color: #eee;
}
.grid-container{
    height: 100%;
    display: grid;
    grid-template-columns:repeat(8,1fr);
    grid-template-rows:repeat(8,1fr) ;
    padding: 10px;
    max-width: 600px;
    height: 600px;
    margin: auto;
    background-color: black;
    box-shadow: 4px 4px 5px 2px #0005;

}
.grid-container div{
    display: grid;
    place-items: center;
    color:white;
    height: calc(580px / 8 );
}
.chess_piece{
    height: 45px;
    width: 25px;

}
