*{
    margin:0;
    box-sizing: border-box;
    padding:0;
}
.container{
    max-width: 900px;
    margin: auto;
    padding: 0 10px;
}
.food-card:hover{
    transform:scale(1.03);
}

.food-card-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding:10px;
}
.food-card-thumbnail{
    width:100%;
    height: 200px;
    /* border-image-width: 2px; */
}
.food-card-title{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.food-card-price{
    color: green;
    font-size:20px;
    font-weight:bold;
    text-align: center;
}
.food-card-description{
    overflow:hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient:vertical ;
    color: #444;
    font-weight:initial;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.food-card{
    background-color:rgba(3, 94, 3, 0.473);
    box-shadow:1px 3px 9px 2px rgba(131, 130, 130, 0.637);
    cursor:pointer;
    transition:transform 0.2s ease-in-out;
     position:relative;  /*cross button move cheyyikkan */
}
.food-card-details-section{
    padding:10px;
}
 .food-card--deleted{
    transform:scale(0);
   
}
.food-card--deleted:hover{
    transform:scale(0);
}

.food-card-availability{
    width:fit-content;
    padding: 5px;
    border-radius: 2px;
    margin:5px 0;
    margin:auto;
}

.food-card-availability--available{
    background-color: #74ed47;
}
.food-card-availability--not-available{
    background-color: rgb(252, 85, 85);
    color:white;
}
.food-card-close-button,.food-card-edit-button{

    width: 25px;
    height:25px;
    position:absolute;
    right:5px;
    top:5px;
    background-color: rgba(128, 128, 128, 0.342);
    background-image: url(./assets/icons/times-solid.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position:center;   /* cross button center il place cheyyan */
    border-radius: 20px;
    cursor: pointer;
}
.food-card-edit-button{
    right: 40px;
    background-image: url(./assets/icons/edit-solid.svg);
}
.over-view-screen{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000a;
    display: grid;
    place-items: center;
    padding: 10px;
}
.edit-food-card-container{
    background-color: white;
    padding: 20px;
    position: relative;
}

.input-fields{
    display: grid;
    grid-template-columns: 120px auto;
    gap: 20px;
    padding: 5px 0;
}
textarea{
    resize: none;
    height: 80px;
    padding: 5px;

}
input{
    padding: 3px 5px;
}
.submit-section{
    display: grid;
    justify-content: end;
    padding-top: 10px;
}
button{
    background-color: green;
    color: white;
    padding: 15px 62px;
    border: none;
    cursor: pointer;
    
}

.input-section{
    display: grid;
    grid-template-columns: 1fr auto;
}
.todo-text{
    width:50%;
    font-size: 18px;
    font-size: Roboto;
    font-style: normal;

}

li{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    list-style: none;
    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin:10px 0;
    align-items: center;
    padding: 5px;
    gap:10px;
}
.status-circle{
    height:20px;
    width:20px;
    border:1px solid #AEAEAE;
    border-radius:50%;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.status-circle--active{
    background-color:#3FF43B; 
    border:solid 4px #fff;
}
 .todo-close-button,.todo-edit-button,
 .todo-edit-cancel-button,.todo-edit-save-button{
    background-image: url(./assets/icons/Group\ 2.svg);
    background-repeat: no-repeat;
    background-size: 120%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-position: center;
} 
.todo-edit-button{
    background-image: url(./assets/icons/pencil-alt-solid.svg);
    background-size: 100%;
}
.todo-edit-text-container{
    position: relative;
}
.todo-edit-text-field{
    width:100%;
    padding: 8px 40px 8px 10px;
    border: none; 
}
.todo-edit-cancel-button{
    width:20px;
    height:20px;
    background-image: url(./assets/icons/Group\ 4.svg);
    position:absolute;
    right:5px;
    top:50%;
    transform:translateY(-50%)

}
.todo-edit-save-button{
    background-image: url(./assets/icons/Vector\ 3.svg);
    background-size: 100%;
}